[% extends "layout.html" %]
[% import 'common/forms.html' as forms %]

[% block content %]
<div class="calculator" ng-controller="CalculatorController as calculator" ng-cloak>
    <div class="calculator__form-tab">
        <form class="calculator-form">
            [% for field in form %]
                [[ forms.field(field, 'calculator.formData', 'calculator.objectsStorage', 'calculator.updateSummary()', 'calculator-form') ]]
            [% endfor %]
        </form>
    </div>

    <div class="calculator__summary-tab calculator-summary">
        <table class="calculator-summary__info">
            <tr class="calculator-summary__title">
                <th>Charge truck</th>
                <td class="charge-truck__name">
                    <span><span ng-bind="calculator.chargeTruck.name"></span>
                        <a class="calculator-summary__title-button" href="#change-charge-truck">Change</a></span>
                </td>
                <td class="calculator-summary__info-vs">VS</td>
                <th>I.C.E analogue</th>
                <td>
                    <span><span ng-bind="calculator.analogueTruck.name"></span>
                        <a class="calculator-summary__title-button" href="#change-analogue-truck">Change</a></span>
                </td>
            </tr>

            <tr class="">
                <th>Payback period</th>
                <td class="calculator-summary__info-payback-period">
                    <span ng-bind-template="{{calculator.summary.paybackPeriod | floatingNumber : 2}} years"></span>
                </td>
                <td></td>
                <th>Total saving</th>
                <td class="calculator-summary__info-total-saving">
                    <span ng-bind-template="$ {{calculator.summary.totalSaving | floatingNumber: 2}}"></span>
                </td>
            </tr>
        </table>

        <div class="calculator-summary__annual-costs-chart">
            <canvas class="chart chart-annual-costs" width="544" height="233"
                    data-chart-data="calculator.charts.annualCosts.data"
                    data-chart-labels="calculator.charts.annualCosts.labels"
                    data-chart-series="calculator.charts.annualCosts.series"
                    data-chart-colours="calculator.charts.annualCosts.colours"
                    data-chart-options="calculator.charts.annualCosts.options"
                    data-chart-legend="true"></canvas>
        </div>

        <div class="calculator-summary__savings-chart">
            <canvas class="chart chart-savings" width="544" height="233"
                    data-chart-data="calculator.charts.savings.data"
                    data-chart-labels="calculator.charts.savings.labels"
                    data-chart-series="calculator.charts.savings.series"
                    data-chart-colours="calculator.charts.savings.colours"
                    data-chart-options="calculator.charts.savings.options"></canvas>
        </div>
    </div>
</div>
[% endblock %]