.calculator-form {
  label { font-weight: normal; }
}

.calculator-form__field {
  $child-field-padding: 12px;

  margin-top: 7px;
  &:first-child { margin-top: 0; }

  & & .calculator-form__label {
    padding-left: $child-field-padding;
  }

  & & & .calculator-form__label {
    padding-left: $child-field-padding * 2;
    font-style: italic;
  }

  @extend .clearfix;
}

.calculator-form__label {
  float: left;
  width: 175px;
  padding: 4px 10px 4px 0;
}

.calculator-form__control {
  width: 194px;
}

input.calculator-form__control {
  text-align: right;
}

input[type=checkbox].calculator-form__control {
  &:not(:checked),
  &:checked {
    position: absolute;
    left: -9999px;
  }

  $size: 20px;
  $border-size: 2px;

  & + label {
    position: relative;
    padding-left: 30px;

    &:before, &:after {
      content: "";
      position: absolute;
      display: inline-block;
      border: solid black 2px;
      line-height: $size - $border-size * 2;
      height: $size - $border-size * 2;
      width: $size - $border-size * 2;
      left: 0;
      top: 2px;
    }

    &:after {
      width: $size;
      height: $size;
      border: none;
      transition: transform .35s ease-in-out;
      transform: scale(0);
    }

    &:hover:before { border-color: $color-orange; }
  }

  &:checked + label:after {
    transform: scale(1);
    content: "v";
    text-align: center;
    font-size: $size;
    line-height: $size - $border-size;

  }

  &:focus + label:before { border-color: $color-orange; }
}

input, select, textarea {
  &.calculator-form__control {
    border: solid black 2px;
    line-height: 20px;
    padding: 2px 5px;
    outline: none !important;

    &:hover, &:focus {
      border-color: $color-orange;
    }

    &.ng-invalid {
      border-color: $color-red;
    }

    &:disabled {
      border-color: #bababa;
      background-color: #fff;
      color: #cacaca;
    }
  }
}

select.calculator-form__control { padding: 4px 0 3px; }

.calculator-form__radio-group {
  display: table;
  padding: 5px 0;

  input[type=radio] {
    &:not(:checked),
    &:checked {
      position: absolute;
      left: -9999px;
    }

    & + label {
      display: table-cell;
      text-align: center;
      cursor: pointer;

      &:hover { color: $color-orange; }
    }

    &:checked + label {
      font-weight: bold;
    }

    &:not(:checked),
    &:disabled {
      & + label {
        opacity: 0.4;
      }
    }

    &:disabled + label {
      cursor: not-allowed;
    }

    &:focus + label {
      color: $color-orange;
    }
  }
}